<div class="center hero-unit">
  <h1>Bem vindo ao Painel de Controle Softsite</h1>

  <h2>Tenha controle do andamentos dos projetos</h2>

  <%= link_to "Cadastre-se", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>